<h2 style="font-family:BYekan;">داشبورد</h2>
<div align=left>
	<div align=right style="width:190px;height:200px;padding:10px 10px ;float:left;">
		<b>ابزارهای صفحه اول</b>
		<hr>
		<div >
			<ul class="ul_list_left_block" style="font-family:BKoodakBold;font-weight:normal;text-decoration: none;" >
				<li><a href="#">تنظیمات کاربری</a></li> 
				<li><a href="#">گزارش عملکردهای کاربر</a></li>
				<li><a href="#">سرویس ها</a></li>
				<li><a href="/logout/">خروج</a></li>

			</ul>
		</div>
	</div>
	<div align=right style="width:640px;height:200px;padding:10px 10px ;float:left;">
		تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول	تست لينک اول
		<br>
		
		تست لينک دوم
		<br>
		تست لينک سوم
		<br>
		تست لينک چهارم
		<br>
		

	</div>
</div>