<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>مدیریت ارزش افزوده حرا</title>
<meta name="keywords" content="Tomato HTML CSS Template, free download, red, light gray, mini site" />
<meta name="description" content="Tomato Template is a free HTML CSS layout provided by templatemo.com" />
<link href="/static/css/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/coda-slider.css" type="text/css" charset="utf-8" />
<script src="/static/js/jquery-1.2.6.js" type="text/javascript"></script>
</head>
<body>
<div id="templatemo_wrapper">
  <div id="slider"> 
	<div id="header">
            	<div id="sitetite">
                	<h1><a href="/" target="_parent"><img src="/static/images/templatemo_logo.png" alt="free css template" /></a></h1>
            	</div>
                <ul class="navigation" style="font-family:BKoodakBold;font-weight:normal;" >
                    <li><a href="/logout_user/">خروج</a></li>
                    <li><a {% ifequal  request.path '/system_manage/' %} class=selected {% endifequal %} id="/system_manage/" href="/system_manage/">مدیریت سیستم</a></li> 
                    <li><a {% ifequal request.path '/reports/' %} class=selected {% endifequal %} id="/reports/" href="/reports/">گزارش ها</a></li>
                    <li><a {% ifequal request.path '/services/' %} class=selected {% endifequal %} id="/services/" href="/services/">سرویس ها</a></li>
                    <li><a {% ifequal request.path '/' %} class=selected {% endifequal %} id="index" href="/?">صفحه اصلی</a></li>
				</ul>
		  </div>
    <div class="scroll">
      <div class="scrollContainer">
        <div class="panel" id="aboutus" style="text-align:right;direction:rtl;">
			{% if page_html_inc %}
				{% include page_html_inc %}
			{% endif %}
        </div>

<!--         <div class="panel" id="home" style="text-align:right;direction:rtl;">
        
          <h2 style="font-family:BYekan;">تست صفحه اصلی</h2>
          <p>تست متن تست </p>
          
          <div class="cleaner_h40"></div>
          
          <div class="col_w240">
          	<h3>گزارش 1</h3>
            <div class="image_wrapper"><img src="/static/images/report.png" alt="image 1" /></div>
			<p>تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  </p>
          </div>
          <div class="col_w240">
          	<h3>گزارش 2</h3>
            <div class="image_wrapper"><img src="/static/images/report.png" alt="image 2" /></div>
			<p>تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  </p>
          </div>
          <div class="col_w240 last_col">
          	<h3>گزارش 3</h3>
            <div class="image_wrapper"><img src="/static/images/report.png" alt="image 3" /></div>
            <blockquote>
			<p>تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  تست برای تست متن تست تست تست متن تست برای تست گزارش تست متن تست  </p>
            </blockquote>
          </div>
        </div> -->
      </div>
    </div>
  </div>
    <div id="templatemo_footer">
    	<!-- Copyright © 2013 <a href="#">Parspooyesh</a> -->
    </div>
</div>
<div id="selected_page_link_id" style="display:none;">{{request.path}}</div>
<script src="/static/js/adds_scripts.js" type="text/javascript"></script>
</body>
</html>