<h2 style="font-family:BYekan;">{{name}}</h2>
<div class="col_w240" style="padding:10% 35%;width:300px;" >
	<div style="text-align:left;direction:rtl;width:550px;font-family:Tahoma;">
		<b>git Repo:</b> <a href="https://github.com/harra">https://github.com/harra</a>
		<br>
		<b>ssh files:</b>  192.168.10.83 &nbsp;&nbsp;&nbsp;&nbsp;  user: root  &nbsp;&nbsp; pass: 2240225  &nbsp;&nbsp; directory:/var/www/hara1 </a>
		<br>
		<b>web admin login(bottom form):</b>&nbsp;&nbsp; user: root &nbsp;&nbsp;&nbsp;  pass: 2240225  </a>
	</div>
		<br><br>
		<font color=red> {{ error }} </font>
		<form action="/login_user/" method="POST">{% csrf_token %}
			<table>
				<tr>
					<td>نام کاربری:</td>
					<td><input type="text" name="username" value="{{ username }}" class="input_field ltr"></td>
				</tr>
				<tr>
					<td>رمز عبور:</td>
					<td><input type="password" name="password" value="" class="input_field ltr"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="  ورود  " class="submit_button" ></td>
				</tr>
			</table>
		</form>
</div>