<h2 style="font-family:BYekan;">{{ page_title }}</h2>
<div align=left>
	<div align=right style="width:190px;height:200px;padding:10px 10px ;float:left;">
		<b>لیست سرویس ها</b>
		<hr>
		<div >
			<ul class="ul_list_left_block" style="font-family:BKoodakBold;font-weight:normal;text-decoration: none;" >
				<li><a href="?p=add_category">افزودن دسته بندی</a></li> 
				<li><a href="#">مدیریت دسته بندی ها</a></li>
				<li><a href="#">سرویس ها</a></li>
				<li><a href="/logout_user/">خروج</a></li>

			</ul>
		</div>
	</div>


{% ifequal request.GET.p 'add_category' %}
	
	{% if 'error' in request.GET %}
		<div align=center style="color:red;"><b>اطلاعات صحیح نیست</b></div>
		<script>setTimeout('history.back();', 2000);</script>
	{% else %}
		<div align=right style="width:640px;height:200px;padding:10px 10px ;float:left;">
			<form action="/services/" method=POST>{% csrf_token %}
				<table style="font-family:BKoodakBold;font-weight:normal;text-decoration: none;" >
						<input type=hidden name="p" value="add_category_save" >
						{% for field in add_category_form_content %}
							<tr><td>{{ field.label }} : </td><td>{{ field }}</td> </tr>
						{% endfor %}
				</table>
				<input type=submit name=add_category value=save >
			</form>
		</div>
	{% endif %}
{% else %}



{% for category_tr in categories %}  
	<br>
	{% for category_td in category_tr %}  
		{{category_td}} -- 
	{% endfor %}
{% endfor %}	
{% endifequal %}



<!-- {{show_list_category}}
{% ifequal show_list_category 'true' %}
	emptyyyyyyyyyyyyy

{% endifequal %} -->
</div>